@page "/"
@implements IDisposable
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager NavMan
@inject HttpClient Http

<PageTitle>Index</PageTitle>

<h1>Hello, Twitter!</h1>

@if (l2tBase.ExpireTokenTicks == 0)
{
    <div class="mt-2">
        <button class="btn btn-primary" @onclick=BeginOAuth2>Twitter OAuth2</button>
    </div>
}
else if (!string.IsNullOrEmpty(l2tBase.UserId))
{
    <div class="mt-2">
        User ID: @l2tBase.UserId
        @*            <br />Screen Name: <a href="https://twitter.com/@l2tBase.ScreenName" target="_blank">@@@l2tBase.ScreenName</a>
            <br />Name: @l2tBase.Name
        *@
    </div>

    <EditForm Model="@l2tTweet" OnValidSubmit="@SendTweet">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="col-6 mt-2">
            <small class="text-muted">Put that on your plate!</small>
        </div>
        <div class="row align-items-center">
            <div class="col-6">
                <InputTextAreaCount id="textarea" class="form-control" @bind-Value=l2tTweet.Text />
            </div>
            <div class="col-2">
                <button type="submit" class="btn btn-sm btn-primary">Tweet</button>
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <small class="text-muted">Token expires in: @tokenExpiresInMin</small>
            </div>
            <div class="col-1 text-end">
                <small class="text-muted">@(280 - l2tTweet.Text.Length)</small>
            </div>
        </div>
    </EditForm>

    @if (l2tTweet?.TweetId != "0")
    {
        <div class="mt-2">
            <small class="text-success">Last Tweet ID: @l2tTweet?.TweetId</small>
        </div>
    }

    @if (!string.IsNullOrEmpty(l2tTweet?.Error))
    {
        <div class="mt-2">
            <small class="text-danger">Tweet Error: @l2tTweet.Error</small>
        </div>
    }

    <div class="mt-2">
        <button @onclick="RevokeToken" class="btn btn-sm btn-primary">Revoke Token</button>
    </div>
}

@code {
    private Timer _timer;
    private L2TBase l2tBase = new();
    private L2TTweet l2tTweet;
    private string tweetText = string.Empty;
    private string tokenExpiresInMin = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        l2tBase = await localStorage.GetItemAsync<L2TBase>("l2t_base");
        if (l2tBase is not null && !string.IsNullOrEmpty(l2tBase.AccessToken) && !string.IsNullOrEmpty(l2tBase.RefreshToken))
        {
            l2tTweet = new() // init tweet
                {
                    AccessToken = l2tBase.AccessToken,
                    RefreshToken = l2tBase.RefreshToken,
                    Text = string.Empty,
                    TweetId = "0",
                    Error = string.Empty
                };
            StartTimer();
        }
        else if (l2tBase is null)
            await localStorage.SetItemAsync<L2TBase>("l2t_base", l2tBase = new());
    }

    private void BeginOAuth2()
    {
        // 'true' as a second parameter (optional, default = false) means the page will refresh, like a F5.
        // "/OAuth2/Begin" is the route to the OAuth2 controller on the server which redirects the user to
        // the Twitter authorization page. After that the server controller redirects to
        // "/Pages/Callback.razor" (/l2tcallback) on the client which will load the Blazor WASM site again.
        NavMan.NavigateTo("/OAuth2/Begin", true);
    }

    // updates tokenExpiresInMin every minute
    public void StartTimer()
    {
        _timer = new Timer(async _ =>
        {
            long ticksLeft = l2tBase.ExpireTokenTicks - DateTime.UtcNow.Ticks;
            TimeSpan expires = new TimeSpan(ticksLeft);
            double expiresInMin = Math.Round(expires.TotalMinutes, 2);

            switch (expiresInMin)
            {
                case < 5:
                    await RefreshToken();
                    break;
                default:
                    tokenExpiresInMin = expires.TotalMinutes.ToString(format: "N0") + " minutes.";
                    break;
            }

            await InvokeAsync(StateHasChanged);
        }, null, 0, 1000 * 60); // 1000ms * 60 = 1 minute
    }

    private async Task SendTweet()
    {
        l2tTweet.AccessToken = l2tBase.AccessToken;
        l2tTweet.RefreshToken = l2tBase.RefreshToken;

        HttpResponseMessage responseMessage = await Http.PostAsJsonAsync("OAuth2/PostTweet", l2tTweet);
        l2tTweet = await responseMessage.Content.ReadFromJsonAsync<L2TTweet>(); // l2tTweet is never null

        if (l2tTweet.TweetId != "-1") // -1 = catch error - #TODO enum
        {
            l2tTweet.Text = string.Empty;
            l2tTweet.Error = string.Empty;
        }
    }

    public async Task RefreshToken()
    {
        HttpResponseMessage responseMessage = await Http.PostAsJsonAsync("OAuth2/RefreshToken", l2tBase);
        L2TRefreshResponse refreshResponse = await responseMessage.Content.ReadFromJsonAsync<L2TRefreshResponse>();

        l2tBase.AccessToken = refreshResponse.access_token;
        l2tBase.RefreshToken = refreshResponse.refresh_token;
        l2tBase.ExpireTokenTicks = DateTime.UtcNow.AddSeconds(refreshResponse.expires_in).Ticks;

        await localStorage.SetItemAsync<L2TBase>("l2t_base", l2tBase);
    }

    public async Task RevokeToken()
    {
        await Http.PostAsJsonAsync("OAuth2/RevokeToken", l2tBase);
        //HttpResponseMessage responseMessage = await Http.PostAsJsonAsync("OAuth2/RevokeToken", l2tBase);
        //status = responseMessage.Content.ToString();

        l2tBase.UserId = string.Empty;
        l2tBase.AccessToken = string.Empty;
        l2tBase.RefreshToken = string.Empty;
        l2tBase.ExpireTokenTicks = 0;

        await localStorage.SetItemAsync<L2TBase>("l2t_base", l2tBase);
    }

    public void Dispose()
    {
        _timer?.Dispose();
    }

    //Console.WriteLine($": {}");
}
